<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>

    <title>Create Alert</title>

    <style>
      .user-group {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .user-group .user-icon button {
        font-size: 30px;
        margin-top: 0px;
      }

      .user-group .user-icon button:focus {
        box-shadow: none;
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="javascript:history.back()">
          My Coin Price Alert
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarToggler"
          aria-controls="navbarToggler"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarToggler"
        >
          <div class="user-group">
            <div class="user-name">
              Hi <b>{{ name }}</b>. <br />
              <small class="link-secondary sm">{{ email }}</small>
            </div>
            <div class="user-icon">
              <button class="btn" type="button" data-bs-toggle="dropdown">
                <i class="fas fa-user-circle"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-end">
                <div class="dropdown-item">
                  <a class="link-dark text-decoration-none" href="alerts"
                    ><i class="fas fa-bells"></i> &nbsp; My Alerts</a
                  >
                </div>
                <div class="dropdown-item">
                  <a class="link-dark text-decoration-none" href="/"
                    ><i class="fas fa-sign-out"></i> &nbsp; Log out
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="container my-5">
      <div class="row justify-content-md-center">
        <div class="col col-md-6">
          <div class="card">
            <div class="card-body">
              <div class="card-header bg-transparent">
                <div class="h2 text-center">Create Alert</div>
                <figcaption class="blockquote-footer text-center my-1">
                  (Bit Coin)
                </figcaption>
              </div>
              <form action="" method="post" class="my-3">
                {% csrf_token %}
                <div class="form-floating mb-3">
                  <input
                    required
                    type="text"
                    class="form-control"
                    id="a_name"
                    placeholder="name@example.com"
                  />
                  <label for="floatingInput">Alert Name</label>
                </div>
                <div class="form-floating">
                  <input
                    required
                    type="number"
                    class="form-control"
                    id="a_price"
                    placeholder="Password"
                  />
                  <label for="floatingPassword">Alert Price (in $)</label>
                </div>
                <div class="form-check form-switch my-3">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="trigger"
                  />
                  <label class="form-check-label" for="flexSwitchCheckChecked"
                    >Trigger Alert</label
                  >
                </div>
                <div class="d-md-flex justify-content-center">
                  <button id="submit" type="submit" class="btn btn-primary">
                    Create Alert
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div
        id="alert"
        class="
          alert alert-dismissible
          fade
          flex-column
          justify-content-md-center
          my-3
        "
        role="alert"
      ></div>
    </div>
  </body>

  <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
  ></script>

  <script>
    document.getElementById('submit').onclick = (ev) => {
      ev.preventDefault()
      $.ajax({
        type: 'POST',
        url: '{% url 'create' %}',
        data: {
          "csrfmiddlewaretoken" : "{{ csrf_token }}",
          "alert_name": $('#a_name').val(),
          "user": '{{ id }}',
          "alert_price": $('#a_price').val(),
          "trigger": $('#trigger').prop('checked')
        },
        success: (data) => {
          console.log(data);
          $('#alert').addClass('alert-success show')
          $('#alert').html('<strong>Your Alert saved</strong> for <i><b>'
            + data['alert_name'] +'</b></i> with price <b>$'
              + data['alert_price']
              +'</b><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>')
        },
        error: (error) => {
          console.log(error);
          $('#alert').addClass('alert-danger show')
          $('#alert').html('<strong>Your Alert is not Created </strong>')
        }
      })
    }
  </script>
</html>
